# Binaries
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.rsuser
*.sln.docstates

# Build artifacts
project.lock.json
project.fragment.lock.json
artifacts/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.csproj.user
*.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/
*.nuspec

# Rider files
.idea/
*.sln.iml

# Entity Framework Migrations
Migrations/

# ASP.NET Temporary files
wwwroot/

# Publish outputs
publish/
